<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>

<body>
  <div class="container">
    <div class="options-box">
      <h1>What are you looking for?</h1>
      <div>
        <input id="show-listings" type="button" value="Show Listings">
        <input id="hide-listings" type="button" value="Hide Listings">
        <hr>
      </div>

      <hr>

      <div>

        <span class="text">Search for nearby places</span>

        <input id="places-search" type="text" placeholder="Ex: Pizza delivery in NYC">

        <input id="go-places" type="button" value="Go">

      </div>
      <hr>
      <div>
        <span class="text"> Looking for </span>

        <select id="filterBy">
            <option value="Casino|Food">All</option>
            <option value="Casino">Casino</option>
            <option value="Food">Restaraunt</option>
          </select>

        <input id="go-filter" type="button" value="Go" onclick="filterByType()">
      </div>

      <div data-bind="foreach: Locations">
        <button data-bind="text: title, attr: attributes" onclick="locationClickWrapper(this)"></button>
        </br>
      </div>
      <hr/>
    </div>

    <div id="map"></div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-debug.js"></script>
  <script src="/underscore.js"></script>
  <script src="/knockout.debug.js"></script>
  <script src="/scripts/main.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry,drawing&key=AIzaSyAyiFjEyl-9RPWp5e-4hF8TCy5xUtcdldo&v=3&callback=initMap">
  </script>

</body>

</html>